<div ng-controller="userCtrl" class="new-account-container">
  Hi, you're here to make an account.
  <div class="new-account-fields">
    <h1>Create New Account</h1>
    <span class="input">
    <input class="input__field" type="text" id="input-1" />
    <label class="input__label input__label--color-1" for="input-1">
      <span class="input__label-content">STUFF</span>
    </label>
  </span>
  <span class="input">
    <input class="input__field" type="text" id="input-2" />
    <label class="input__label input__label--color-1" for="input-2">
      <span class="input__label-content">STUFF</span>
    </label>
  </span>
  <span class="input">
    <input class="input__field" type="text" id="input-3" />
    <label class="input__label input__label--color-1" for="input-3">
      <span class="input__label-content">STUFF</span>
    </label>
  </span>
  <span class="input">
    <input class="input__field" type="text" id="input-4" />
    <label class="input__label input__label--color-1" for="input-4">
      <span class="input__label-content">STUFF</span>
    </label>
  </span>
  </div>
</div>
