<div class="updateJobContainer">
  <h4>{{testUser.first_name}} {{testUser.last_name}}</h4>
  <h4>{{updateJob.invoice}}</h4>
  <!-- <h4>{{updateJob.model_num}}</h4> -->
  <!-- <h4>{{updateJob.serial_num}}</h4> -->
  <p>{{updateJob.status}}</p>
  <p>{{updateJob.next_step}}</p>
  <p>{{updateJob.tracking_num}}</p>
  <ul>
      <li>
        <!-- <h4>Model Number</h4> -->
          <span class="input">
            <p>Model Number</p>

          <input class="input__field" type="text" id="input-1" ng-model="updateJob.model_num"/>
          <label class="input__label input__label--color-1" for="input-1">
            <span class="input__label-content"></span>
          </label>
        </span>
      </li>
      <li>
        <span class="input">
          <p>Serial Number</p>

        <input class="input__field" type="text" id="input-2" ng-model="updateJob.serial_num"/>
        <label class="input__label input__label--color-1" for="input-2">
          <span class="input__label-content"></span>
        </label>
      </span>
      </li>
      <li>
        <span class="input">
          <p>Best Phone Number</p>
        <input class="input__field" type="text" id="input-3" ng-model="testUser.phone_num1"/>
        <label class="input__label input__label--color-1" for="input-3">
          <span class="input__label-content"></span>
        </label>
      </span>
      </li>
  </ul>

  <button type="button" name="button" ng-click="updateJobInfoCm(updateJob.model_num, updateJob.serial_num, testUser.phone_num1, updateJob.invoice)">Update</button>
</div>
